{% extends "base.html" %}

{% block content %}
<div class="post">
    <div class="post-thumbnail"><a href="#"><img src="{{ post.image.url }}" alt="Blog-post image" /></a>
    </div>
    <div class="post-header font-alt">
        <h2 class="post-title"><a href="#">{{ post.title }}</a></h2>
        <div class="post-meta">By<a href="#">{{ user.username }}</a>| {{ post.created_at }} | <a
                href="#">{{ post.category }}</a>
        </div>
    </div>
    <div class="post-entry">
        <p>{{ post.text }}</p>
    </div>
    <a href="{% url 'blog:update' post.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'blog:delete' post.pk %}" class="btn btn-danger">削除</a>
</div>
{% endblock %}