{% extends "base.html" %}


{% block content %}

{% if user.is_authenticated %}
<p><a href="{% url 'blog:create' %}" class="btn btn-primary">New</a></p>
{% endif %}

{% for post in post_list %}
<div class="post">
  <div class="post-thumbnail"><a href="#"><img src="{{ post.image.url }}" alt="Blog-post image" /></a>
  </div>
  <div class="post-header font-alt">
    <h2 class="post-title"><a href="{% url 'blog:detail' post.pk %}">{{ post.title }}</a></h2>
    <div class="post-meta">By<a href="#">{{ user.username }}</a> | {{ post.created_at }} |
      {% for category in category_list %}
      {% if post.category == category %}
      <a href="{% url 'blog:category' category.pk %}">{{ post.category }}</a>
      {% endif %}
      {% endfor %}
      <br><br>
      <div class="tags font-serif">
        {% for tag in post.tag.all %}
        <a href="{% url 'blog:tag' tag.pk %}">{{ tag }}</a>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="post-entry">
    <p>{{ post.summary | linebreaksbr | urlize }} ...</p>
  </div>
  <div class="post-more"><a class="more-link" href="{% url 'blog:detail' post.pk %}">続きを読む</a></div>
</div>
{% endfor %}

{% include "blog/pagenation.html" %}

{% endblock %}