{% extends "base.html" %}

{% block content %}
<div class="post">
    <div class="post-thumbnail"><a href="#"><img src="{{ post.image.url }}" alt="Blog-post image" /></a>
    </div>
    <div class="post-header font-alt">
        <h2 class="post-title"><a href="#">{{ post.title }}</a></h2>
        <div class="post-meta">By<a href="#">{{ user.username }}</a>| {{ post.created_at }} |
            {% for category in category_list %}
            {% if post.category == category %}
            <a href="{% url 'blog:category' category.pk %}">{{ post.category }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="post-entry">
        <p>{{ post.text }}</p>
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'blog:update' post.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'blog:delete' post.pk %}" class="btn btn-danger">削除</a>
    {% endif %}

</div>
{% endblock %}