{% extends "base.html" %}

{% block content %}
<div class="post">
    <div class="post-thumbnail"><a href="#"><img src="{{ post.image.url }}" alt="Blog-post image" /></a>
    </div>
    <div class="post-header font-alt">
        <h2 class="post-title"><a href="#">{{ post.title }}</a></h2>
        <div class="post-meta">By<a href="#">{{ user.username }}</a>| {{ post.created_at }} |
            {% for category in category_list %}
            {% if post.category == category %}
            <a href="{% url 'blog:category' category.pk %}">{{ post.category }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="post-entry">
        <p>{{ post.text }}</p>
    </div>

    {% if user.is_authenticated %}
    <a href="{% url 'blog:update' post.pk %}" class="btn btn-primary">編集</a>
    <a href="{% url 'blog:delete' post.pk %}" class="btn btn-danger">削除</a>
    {% endif %}
</div>

{% for comment in post.comment_set.all %}
<div class="comments">
    {% if comment.is_public %}
    <div class="comment clearfix">
        <div class="comment-content clearfix">
            <div class="comment-author font-alt">
                <a href="#">{{ comment.name }}</a>
            </div>
            <div class="comment-body">
                <p>{{ comment.text | linebreaksbr }}</p>
            </div>
            <div class="comment-meta font-alt">
                {{comment.created_at}} - <a href="{% url 'blog:reply' comment.pk %}">Reply</a>
            </div>
        </div>

        {% for reply in comment.reply_set.all %}
        {% if reply.is_public %}
        <div class="comment clearfix">
            <div class="comment-content clearfix">
                <div class="comment-author font-alt">
                    <a href="#">{{ reply.name }}</a>
                </div>
                <div class="comment-body">
                    <p>{{ reply.text | linebreaksbr }}</p>
                </div>
                <div class="comment-meta font-alt">
                    {{reply.created_at}}
                </div>
            </div>
        </div>
        {% else %}
        <div class="comment clearfix">
            <div class="comment-content clearfix">
                <div class="comment-author font-alt">
                    <a href="#">まだ{{ reply.name }}さんの返信コメントは承認されていません。</a>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
        <hr>
    </div>

    {% else %}
    <div class="comment clearfix">
        <div class="comment-content clearfix">
            <div class="comment-author font-alt">
                <a href="#">まだ{{ comment.name }}さんのコメントは承認されていません。</a>
            </div>
        </div>
    </div>
    <hr>
    {% endif %}
</div>
{% endfor %}

<div class="post-more">
    <a class="more-link" href="{% url 'blog:comment' post.pk %}">コメント投稿ページへ</a>
</div>

{% endblock %}


{% block related_articles %}
<div class="widget">
    <h5 class="widget-title font-alt">関連記事</h5>
    <ul class="widget-posts">
        {% for rel_post in post.relation_posts.all %}
        <li class="clearfix">
            <div class="widget-posts-image"><a href="{% url 'blog:detail' rel_post.pk %}"><img
                        src="{{ rel_post.image.url }}" alt="Post Thumbnail" /></a>
            </div>
            <div class="widget-posts-body">
                <div class="widget-posts-title"><a href="{% url 'blog:detail' rel_post.pk %}">{{ rel_post.title }}</a>
                </div>
                <div class="widget-posts-meta">{{ rel_post.created_at }}</div>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}